@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
header {
  width: 1200px;
  position: relative;
  background-color: aliceblue;
  margin: auto;
}
.submenu-bg {
  width: 1200px;
  height: 200px;
  background-color: aquamarine;
  position: absolute;
  top: 100px;
  display: none;
}
nav {
  width: 1000px;
  background-color: aliceblue;
  height: 100px;
  position: relative;
}
.gnb {
  width: 600px;
  background-color: antiquewhite;
  display: flex;
  text-align: center;
  position: absolute;
  top: 50px;
  right: 20px;
}
.gnb > li {
  width: calc(100% / 4);
  height: 50px;
}
.gnb > li > a {
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  display: block;
  color: #333;
  background-color: rgb(238, 238, 238);
}
.depth2 {
  position: relative;
  display: none;
  z-index: 1;
}
.depth2 > li > a {
  line-height: 40px;
  display: block;
  background-color: antiquewhite;
}

/* 서브메뉴 전체 나오기 */
/* .gnb:hover .depth2 {
  display: block;
} */
.gnb > li:hover > a {
  background-color: #333;
  color: #fff;
}
.depth2 > li:hover > a {
  background-color: rgb(241, 213, 177);
}
/* 자식 서브메뉴만 나오기 */
/* .gnb > li:hover .depth2 {
  display: block;
} */
.gnb:hover + .submenu-bg,
.gnb:hover .depth2 {
  display: block;
}